@model mostaan2.ViewModel.permissionVM



<span style="hide"></span>
<form style="padding:2em">
    <p style="font-size:16px; font-weight:500;margin-bottom:20px">دسترسی مورد نظر را انتخاب کنید</p>
    <style>
        .permissionRow {
            margin-bottom: 5px;
        }

            .permissionRow div {
                margin: 5px
            }
    </style>

    <div class="permissionRow" style="display:flex">
        <div style="display:flex">
            <input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="11" />
            <span>درآمد مشاهده</span>
        </div>
        <div style="display:flex">
            <input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="12" />
            <span>درآمد ویرایش</span>
        </div>
        <div style="display:flex">
            <input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="13" />
            <span>درآمد افزودن</span>
        </div>
    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="21" /><span>هزینه مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="22" /><span>هزینه ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="23" /><span>هزینه افزودن</span></div>

    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="31" /><span>تامین مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="32" /><span>تامین ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="33" /><span>تامین افزودن</span></div>

    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="41" /><span>شناسنامه مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="42" /><span>شناسنامه ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="43" /><span>شناسنامه افزودن</span></div>

    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="51" /><span>کاربر مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="52" /><span>کاربر ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="53" /><span>کاربر افزودن</span></div>

    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="61" /><span>بخش مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="62" /><span>بخش ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="63" /><span>بخش افزودن</span></div>

    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="71" /><span>مرکز مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="72" /><span>مرکز ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="73" /><span>مرکز افزودن</span></div>
    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="81" /><span>کمیته مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="82" /><span>کمیته ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="83" /><span>کمیته افزودن</span></div>
    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="91" /><span>شماره حساب مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="92" /><span>شماره حساب ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="93" /><span>شماره حساب افزودن</span></div>
    </div>
    <div class="permissionRow" style="display:flex">
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="101" /><span>چک مشاهده</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="102" /><span> چک ویرایش</span></div>
        <div style="display:flex"><input class="permistionInput" style="width:unset; margin:5px" type="checkbox" value="103" /><span>چک افزودن</span></div>
    </div>

    <div style="display:flex;margin-bottom: -40px;margin-top: 40px;">
        <input id="verifyPermision" type="button" value="تایید"><br>
        <input id="cancelPermision" type="button" value="لغو"><br>

    </div>


</form>



<script>
    $("#cancelPermision").click(function () {
        $("#permisionPopUp").hide();
    })
    $("#verifyPermision").click(function () {


        let id = "";
        $(".permistionInput").each(function () {
            if ($(this).is(':checked')) {
                id = id + $(this).val() + ",";
            }
        })

        if (id != "") {
            $.ajax({
                url: "/Home/setPermision",
                data: {
                    id: id,
                    userid :'@Model.id'
                },
                success: function () {
                    window.location.reload();
                }
            })
        }
    })
</script>
<script>
    var model = @Html.Raw(Json.Encode(Model.lst));
    var i;

    for (i = 0; i < model.length; ++i) {
        $(".permistionInput[value='" + model[i]["serctionID"] +"']").prop('checked', true)

    }

</script>